<app-header></app-header>
<app-action-icon [icon]="icon" pathUrl="create"></app-action-icon>

<section class="details dt mw6 pv4-m pv5-ns bg-pink ba pa4 mb5 center">
  <div class="book-image mb4 db dtc-ns v-mid-ns">
    <img [src]="book.imageUrl" alt="Book cover" class="img-details w-100 mw7" />
  </div>
  <div class="book-info helvetica db dtc-ns v-mid pl3 pl5-ns lh-copy">
    <h3 class="lh-title mv0">This is the book {{book.name}} </h3>
    <p class="lh-copy">Written by author {{book.author}}</p>
    <p class="">Description: This is a short description of the book</p>
    <hr />
    <a class="link dark-blue underline-hover" [routerLink]="['/']">Back to homepage</a>
  </div>
</section>
